.Hero {
  padding-top: 120px;
}

.Hero__container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  z-index: 124;
}

.Hero__content {
  flex: none;
  align-self: stretch;
  width: 70.83333%;
  margin-left: 29.16667%;
  order: 0;
  margin-top: 0;
  padding: 105px 16.66667% 105px 12.5%;
  height: 100%;
  background: #ffda00;
  z-index: 10;
}

.Cover__imageBackground {
  top: 0;
  left: 0;
  width: 100%;
  height: 299px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% center;
  margin-top: -370px;
  z-index: -10;
}

h1.Hero__heading {
  font-size: 38px;
}
