.c-cta_line {
  margin: 0;
  transform: scaleX(0);
  animation-delay: 0.3s;
  transition: transform 0.6s $easing;
  border-top: 1px solid $accent-2;

  &.-margin {
    margin-bottom: 30px;
  }

  &.is-inview {
    transform: scaleX(1);
  }
}
.c-cta_content {
  margin: rem($unit) 0;
}

.c-cta_content_text {
  > * {
    opacity: 0;
    transform: translateY(60px);
    transition: opacity 0.6s $easing, transform 0.6s $easing;

    &:not(:first-child) {
      margin-top: rem(30px);
    }
  }

  &.is-inview {
    > * {
      opacity: 1;
      transform: none;

      @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
          transition-delay: $i * 0.06s;
        }
      }
    }
  }
}

.c-cta_section {
  margin-bottom: rem(180px);
}
.CTA {
  &--light {
    background: $bcg;
    filter: brightness(0.95);
  }
  &__heading {
    font-family: $lora-font;
  }
  &__content {
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    padding-top: 16px;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}
