.nsd-testimonial-slider {
  width: 95%;
  position: relative;
  max-width: 1300px;
  margin: auto;
  background: #fff;
  box-shadow: 0px 14px 80px rgba($primary, 0.2);
  height: 100%;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include media-breakpoint-up(xs) {
      flex-direction: column;
    }
    @include media-breakpoint-up(md) {
      flex-direction: column;
    }
    @include media-breakpoint-up(lg) {
      flex-direction: row;
    }
    @include media-breakpoint-up(xl) {
      flex-direction: row;
    }

    &.swiper-slide-active {
      .nsd-testimonial-slider__img {
        img {
          opacity: 1;
          transition-delay: 0.3s;
        }
      }
      .nsd-testimonial-slider__content {
        > * {
          opacity: 1;
          transform: none;

          @for $i from 0 to 15 {
            &:nth-child(#{$i + 1}) {
              transition-delay: $i * 0.1 + 0.3s;
            }
          }
        }
        .brief-info {
          display: flex;
          padding-bottom: 1rem;
          @include media-breakpoint-up(xxl) {
            font-size: 0.8rem;
          }
          .w-1\/2 {
            width: 50%;
          }
        }
      }
    }
  }

  &__img {
    @include media-breakpoint-up(xs) {
      width: 100%;
    }
    @include media-breakpoint-up(md) {
      width: 100%;
    }
    @include media-breakpoint-up(lg) {
      width: 50%;
      height: rem(530px);
    }
    @include media-breakpoint-up(xl) {
      width: 50%;
    }
    @include media-breakpoint-up(xxl) {
      height: 30rem;
    }
    flex-shrink: 0;
    height: 100%;
    overflow: hidden;
    background-image: linear-gradient(147deg, $primary 0%, $primary 74%);

    .testimonial-img-container {
      height: 100%;
      width: 100%;
      position: relative;
      &__item {
        width: 100%;
        height: 100%;
        display: none;
        &.is-active {
          display: block;
        }
        & img {
          @include media-breakpoint-up(xs) {
            height: 100%;
            min-height: 200px;
          }
          @include media-breakpoint-up(md) {
            height: 100%;
            min-height: 300px;
          }
          @include media-breakpoint-up(lg) {
            height: 100%;
            min-height: 400px;
          }
          @include media-breakpoint-up(xl) {
            height: 100%;
            min-height: 500px;
          }
          object-fit: cover;
          opacity: 1;
          transition-delay: 0.3s;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
        }
      }
    }

    .testimonial-nav-container__item {
      position: absolute;
      top: 0;
      display: flex;
      .nav-list-item__text {
        margin: 5px;
        p {
          padding: 5px;

          background: $light-2;
          text-transform: uppercase;
          font-weight: 500;
          font-size: 14px;
        }
        &.is-active {
          background: white;
        }
      }
    }
  }
  &__small {
    font-size: 1rem;
  }
  &__content {
    @include media-breakpoint-up(xs) {
      padding-top: 70px;
      padding-left: 30px;
      padding-right: 30px;
    }
    @include media-breakpoint-up(md) {
      padding: 100px 30px 30px;
    }
    @include media-breakpoint-up(lg) {
      padding: 0 50px;
    }
    @include media-breakpoint-up(xl) {
      padding: 100px 30px 0;
    }

    > * {
      opacity: 0;
      transform: translateY(25px);
      transition: all 0.4s;
    }
  }

  &__title {
    font-size: 2rem;
    font-weight: 500;
    color: $primary;
    font-family: $lora-font;
    margin-bottom: 3rem;
    @include media-breakpoint-up(xxl) {
      font-size: 1.5rem;
    }
  }

  &__text {
    font-size: 1.2rem;
    @include media-breakpoint-up(xxl) {
      font-size: 0.8rem;
      line-height: normal;
    }
    margin-bottom: 30px;
    line-height: 1.5em;
  }
  &__btn-prev {
    .button {
      transform: scaleX(-1);
    }
  }
  &__btn-next,
  &__btn-prev {
    outline: unset;
    display: flex;
    z-index: 20;
    visibility: visible;
    position: absolute;
    top: 205px;
    bottom: unset;
    color: $primary;
    font-size: 45px;
    background: white;
    padding: 5px;
    .button {
      margin: 0;
      .button__icon {
        margin: 0;
      }
    }

    @include media-breakpoint-up(xs) {
      top: 235px;
    }
    @include media-breakpoint-up(md) {
      display: flex;
      z-index: 20;
      visibility: visible;
      position: absolute;
      top: 62%;
      bottom: unset;
      color: #022337;
      font-size: 45px;
      background: white;
      padding: 15px;
    }
    @include media-breakpoint-up(lg) {
      display: flex;
      z-index: 2;
      visibility: visible;
      position: absolute;
      top: unset;
      bottom: 0;
      color: #022337;
      font-size: 45px;
      background: white;
      padding: 5px;
    }
  }
  &__btn-next {
    left: 54px;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%;
  }
  &__pagination {
    position: absolute;
    z-index: 21;
    height: max-content;

    @include media-breakpoint-down(sm) {
      width: min-content !important;
      right: 10px;
      left: unset !important;
      top: 257px;
      display: flex;
      justify-content: flex-end;
    }

    @include media-breakpoint-up(md) {
      width: min-content !important;
      top: 64%;
      left: auto !important;
      right: 5%;
      display: flex;
      justify-content: flex-end;
    }
    @include media-breakpoint-up(lg) {
      flex-direction: column;
      left: auto !important;
      top: 50%;
      bottom: auto !important;
      transform: translateY(-50%);
      right: 20px;
      width: 11px !important;
      text-align: center;
    }

    &.swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 8px 0;
      @include media-breakpoint-down(sm) {
        margin: 8px 2px;
      }
      @include media-breakpoint-up(md) {
        margin: 2px 5px !important;
      }
    }

    .swiper-pagination-bullet {
      width: 11px;
      height: 11px;
      display: block;
      border-radius: 5px;
      background: $accent-2;
      opacity: 0.2;
      transition: all 0.3s;
      outline: none;
      &-active {
        opacity: 1;
        background: $primary;
        height: 30px;
        //box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);
        @include media-breakpoint-down(md) {
          height: 11px;
          width: 30px;
        }
      }
    }
  }
}
.c-testimonial {
  min-width: 15rem;
  width: 19vw;
  margin: 1rem;
  @include media-breakpoint-down(xl) {
    width: 40vw;
  }
  @include media-breakpoint-down(sm) {
    min-width: 20rem;
  }
  &-scroll {
    display: flex;
    justify-content: center;
    &.-is-hidden {
      overflow: hidden;
      width: 99vw;
    }
    @include media-breakpoint-down(md) {
      overflow: hidden;
    }
  }
  &__single {
    padding: 3rem 2rem 5rem;
    background: rgba($primary-dark, $alpha: 0.3);
    color: rgba($color: #fff, $alpha: 0.5);
    position: relative;
    &:hover {
      .single-quote__icon {
        svg {
          fill: $accent-dark;
          transition: all 0.5s;
        }
      }
    }
    .single-quote__icon {
      position: absolute;
      right: 2rem;
      top: 3rem;
      opacity: 0.6;
      svg {
        width: 4rem;
        transition: all 0.5s;
        fill: transparent;
        @include media-breakpoint-down(sm) {
          width: 5rem;
        }
      }
    }

    .single-quote__text {
      font-size: 1.3rem;
      width: 100%;
      margin-top: 2rem;
      min-height: 15rem;
      font-family: $lora-font;
    }

    .single-quote__person {
      color: $accent-dark;
      width: fit-content;
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
    }
    .single-quote__job {
      font-size: 0.9rem;
    }
    .c-testimonial__nav {
      position: absolute;
      right: 2rem;
      display: flex;
      bottom: 3rem;
      .button__circle {
        border: 1px solid #a8abb36b;
      }
    }
    .c-testimonial__count {
      display: flex;
      margin-top: 2rem;
    }
    .prev {
      transform: scaleX(-1);

      span {
        margin: 0;
      }
    }
  }
}
