.c-banner-title {
  font-size: 4rem;
  max-width: 100%;
  line-height: 1.2;
  color: $accent-1;
  font-family: $lora-font;
  overflow: hidden;
  display: block;
  @include media-breakpoint-down(md) {
    font-size: 2rem;
  }
  &.-is-large {
    font-size: 5rem;
    @include media-breakpoint-down(md) {
      font-size: 2rem;
    }
  }
  &.-is-small {
    font-size: 3rem;
    @include media-breakpoint-down(md) {
      font-size: 2rem;
    }
  }
  &.-is-smallest {
    font-size: 2rem;
  }
  .word {
    display: inline-block;
    position: relative;
    line-height: 1.3;
    text-transform: uppercase;
  }
  &__top {
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1rem;
    font-family: $karla-font;
    color: $accent-4;
    margin-bottom: 20px;
    &.-right-align {
      width: 80%;
      margin-left: auto;
    }
    &.-center-align {
      width: 100%;
      text-align: center;
    }
  }
}
.c-banner_wrapper {
  margin-bottom: 2rem;
}
.-is-lowercase {
  text-transform: lowercase;
}
.-is-initial {
  text-transform: initial;
}
.-is-uppercase {
  text-transform: lowercase;
}
.-line-height {
  line-height: 1.4;
}
